<div class="flex flex-col bg-gradient-to-r from-sky-400 to-emerald-400 text-white p-6 rounded-lg shadow-lg">
    <h1 class="text-center text-4xl mb-2">Génial Blog</h1>
    <p class="text-center mb-6">Ajoutez un article ou un brouillon !</p>
    <div class="mb-4">
        <label class="block mb-2">Titre Article</label>
        <input [(ngModel)]="newArticleTitle" type="text"
            class="w-full px-3 py-2 border border-gray-300 bg-white text-black rounded">
    </div>
    <div class="mb-4">
        <label class="block mb-2">Contenu Article</label>
        <textarea [(ngModel)]="newArticleContent"
            class="w-full px-3 py-2 border border-gray-300 bg-white text-black rounded" rows="3"></textarea>
    </div>
    <div class="flex justify-between">
        <button (click)="onAddArticle()" [disabled]="!newArticleTitle || !newArticleContent"
            class="bg-black text-white px-4 py-2 rounded mr-2 transition-all duration-200 ease-in-out hover:bg-green-600">Ajouter
            Article</button>
        <button (click)="onAddBrouillon()" [disabled]="!newArticleTitle || !newArticleContent"
            class="border border-gray-300 text-black px-4 py-2 rounded bg-white transition-all duration-200 ease-in-out hover:bg-yellow-200 hover:border-yellow-500">Ajouter
            Brouillon</button>
    </div>

</div>