<br>
<br>
<br>
<div class="bg-blue-500 p-4 text-white">
    <nav class="flex justify-around text-lg font-semibold">
        <a routerLink="/tpdeux/users" 
           class="transition-colors duration-300 hover:text-yellow-500" 
           routerLinkActive="text-yellow-500 underline">Users List</a>
        <a routerLink="/tpdeux/posts" 
           class="transition-colors duration-300 hover:text-yellow-500" 
           routerLinkActive="text-yellow-500 underline">Posts</a>
        <a routerLink="/tpdeux/comments" 
           class="transition-colors duration-300 hover:text-yellow-500" 
           routerLinkActive="text-yellow-500 underline">Comments</a>
    </nav>
</div>
<router-outlet></router-outlet>
