<div class="user-details bg-white rounded-lg shadow-md p-6 m-4">
  <h2 class="text-blue-500 text-2xl mb-2">{{ user?.name }}</h2>
  <p class="mb-1"><span class="font-bold">Email: </span>{{ user?.email }}</p>
  <p class="mb-1"><span class="font-bold">Pseudo: </span>{{ user?.username }}</p>
  <p class="mb-1"><span class="font-bold">Website: </span>{{ user?.website }}</p>
  <p class="mb-1"><span class="font-bold">Nom de société: </span>{{ user?.company.name }}</p>
  <p class="mb-1"><span class="font-bold">Slogan: </span>{{ user?.company?.catchPhrase }}</p>
</div>
