<div class="bg-white p-6 rounded-lg shadow-lg">
    <div class="flex justify-center mb-4">
        <img src="../../assets/oui.png" alt="Jean Lassale" class="w-1/2 h-auto rounded-lg" />
    </div>
    <h3 class="text-2xl font-semibold text-gray-700 mb-4">Jean Lassale, légende incontournable du monde de la pétanque, est connu pour sa technique
        secrète, le "lancer de la moustache". Avec sa moustache soigneusement taillée et entretenue, il est parvenu à
        remporter de nombreux tournois de pétanque à travers la France.</h3>
    <p class="text-gray-600">

        Né et élevé dans le sud de la France, Jean Lassale a découvert sa passion pour la pétanque lorsqu'il a
        accidentellement lancé une boule de pétanque dans les airs et a cassé une bouteille de pastis en plein vol.
        Depuis lors, il s'est consacré à la pétanque et au partage de l'esprit convivial qui accompagne ce sport.

        En dehors de la pétanque, Jean est également connu pour sa collection impressionnante de chapeaux, qu'il porte
        fièrement lors de chaque partie. Il est convaincu que le chapeau parfait améliore non seulement son jeu, mais
        attire également la chance et le succès.

        Afin de célébrer ses exploits sur le terrain de pétanque, une bière artisanale a été créée en son honneur : La
        Spéciale La Salle Lale. Cette bière au goût riche et équilibré est brassée avec amour, tout comme Jean Lassale
        aborde chaque partie de pétanque.

        Aujourd'hui, Jean Lassale continue de jouer à la pétanque avec enthousiasme et de partager sa passion avec les
        autres. Il est devenu une icône locale et un ambassadeur de la pétanque, prouvant que l'amour du jeu et un sens
        de l'humour sont des ingrédients essentiels pour une vie bien remplie.

        N'hésitez pas à vous inspirer de l'histoire de Jean Lassale pour ajouter une touche d'humour et de légèreté à
        votre présentation des boissons et du monde de la pétanque.</p>
</div>