<div class="flex flex-col items-center justify-center h-screen bg-gray-200">
    <h2 class="text-3xl mb-4">Une photo aléatoire chaque seconde</h2>
    <p class="text-lg mb-8">Fourni par Floflo</p>
    <div *ngIf="photoUrl" class="photo w-full max-w-lg rounded overflow-hidden shadow-lg">
      <img [src]="photoUrl" alt="Random Unsplash Image" class="w-full">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Titre de l'image</div>
        <p class="text-gray-700 text-base">
          Ceci est une image aléatoire provenant de l'API Unsplash, elle change toutes les secondes.
        </p>
      </div>
    </div>
  </div>
  