<div class="min-h-screen bg-gray-100 flex flex-col items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
      <h1 class="text-3xl font-bold mb-4">Bienvenue sur <span>{{ title }}</span>!</h1>
      <p class="mb-4">Cette application utilise Angular et Tailwind CSS pour créer une interface utilisateur moderne et
        réactive.</p>
      <div class="flex flex-col space-y-4">
        <input type="text" [(ngModel)]="name"
          class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none focus:border-blue-500">
        <p class="mt-4 text-lg font-semibold">{{ name }}</p>

        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600" routerLink="/non">Patés</button>
        <button class=" bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600"
          routerLink="/non">Terrines</button>
      </div>
    </div>
  </div>
