<div class="mt-8">
    <h2 class="text-3xl font-semibold text-gray-700">Règles de la Pétanque</h2>
    <ul class="list-disc mt-4 pl-5 text-lg text-gray-600">
      <li>Le jeu se joue avec des boules en métal et un cochonnet en bois.</li>
      <li>Les joueurs se placent à une distance déterminée du cochonnet et lancent leurs boules.</li>
      <li>Le but est de placer ses boules le plus près possible du cochonnet.</li>
      <li>Les points sont attribués en fonction de la proximité des boules par rapport au cochonnet.</li>
      <li>Le premier joueur ou équipe à atteindre 13 points gagne la partie.</li>
    </ul>
  </div>
  <br>
  <br>
  <br>